


.header {
  align-items: center;

  height: 100px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: bolder;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 25px;

}

li {
  text-decoration: none;
  display: inline-block;
  margin: 15px;
  padding-right: 25px;
}

form {


  display: flex;
  flex-direction: column;
}

.form-div {
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
  box-sizing: border-box;
}

input {
  border-width: .75px;
  border-style: solid;
  border-color: rgb(194, 194, 194);
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 5px;
}

.list {
  margin-top: 50px;
  margin-left: 25px;

  text-align: left;
  justify-content: left;
  display: block;
  width: 200px;
  height: 600px;

}

.textarea {
  padding: 5px;
  border-style: solid;
  border-width: .5px;
  border-color:rgb(194, 194, 194);
  background-color: rgb(255, 255, 255);
  height: 100px;
  border-radius: 10px;
  max-width: 300px;
  margin-bottom: 25px;
}